<!-- ABOUT US SECTION -->
<div id="about" class="py-3 mb-5">
  <div class="container">
    <div class="row">
      <div class="col text-muted">
        <div class="lead">
          Welcome to Dr Ashley S Lupin and Associates website, Our dental practice is based in Chatham,
          at the heart of the Medway Towns in Kent. The practice was originally established by Dr Ashley Lupin, who
          qualified at University College Hospital Medical School in London, and the Royal College of Surgeons.
          <div class="pt-3 pb-3 mb-3">
            Dr Lupin is a founder member of the Association of Medway Dentists, and also "Radio Dentist" answering
            phone-ins on Invicta Radio and the BBC for many years. He was awarded the British Empire Medal by the Queen
            in the 2016 New Years Honours List, for Humanitarian Aid to Medical Training in Africa.
          </div>
          <div class="pb-3 mb-3">
            If you are a new Patient, We would like to take this opportunity to welcome you to our practice. We are
            pleased to accept all new Patients, both NHS and Private.
          </div>
          <div class="pb-3 mb-3">
            If you are not exempt from NHS charges, we can accept you on an Independent basis. Please ask our Reception
            team for details if required.
          </div>
          <div class="pb-3 mb-3">
            It is our policy for each patient to see one Dentist on a consistent basis However, if this is not possible
            for some reason suitable alternative arrangements will be made for you to see someone else within the
            Practice.
          </div>
          <div class="pb-3 mb-3">
            We have five surgeries which have been equipped to create a comfortable and relaxing atmosphere and we have
            the most up-to date x ray facilities available, all of our Professional and Auxiliary Staff are constantly
            updated in the latest techniques and are highly motivated.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
