<!-- Basic Example -->
<!-- <div class="row">
  <div class="col-md-12 mx-auto text-center mt-5">
    <button mdbBtn color="primary" class="waves-light" (click)="test.toggle()">
      Simple question to be supplied
    </button>

    <div class="" mdbCollapse #test="bs-collapse">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
    </div>
  </div>
</div> -->
<!-- Basic Example -->
<!-- Basic Example -->
<div class="row">
  <div class="col-md-12 mx-auto text-center mt-5">
    <h4 class="text-center">Fequently Asked Questions</h4>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" [animation]="'slide'">
      <!--First slide-->
      <mdb-carousel-item>
        <!-- Basic Example -->
        <div class="col-md-6 mx-auto mb-5">
          <mdb-card>
            <!--Card image-->
            <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img> -->
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Question One</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content. </mdb-card-text>

              <!-- <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <!-- Basic Example -->

      </mdb-carousel-item>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-carousel-item>
        <!-- Basic Example -->
        <div class="col-md-6 mx-auto mb-5">
          <mdb-card>
            <!--Card image-->
            <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img> -->
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Question Two</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content. </mdb-card-text>

              <!-- <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <!-- Basic Example -->

      </mdb-carousel-item>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-carousel-item>
        <!-- Basic Example -->
        <div class="col-md-6 mx-auto mb-5">
          <mdb-card>
            <!--Card image-->
            <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
              alt="Card image cap"></mdb-card-img> -->
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <h4>Question Three</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content. </mdb-card-text>

              <!-- <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <!-- Basic Example -->

      </mdb-carousel-item>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </div>
</div>
<!-- Basic Example -->

<hr class="my-5">
