<div class="social-bar">
  <div class="container d-inline-flex flex-row justify-content-between">
    <div class="justify-content-start">
      <ul class="nav">
        <li class="nav-item d-none d-sm-block">
          <a [routerLink]="['/home']" class="text-info"><i class="fa fa-home fa-1x pr-4"></i></a>
        </li>
        <li class="nav-item">
          <span class="text-muted pl-3"><i class="fa fa-phone pr-2"></i>01634 843044 </span>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contact']" class="text-info">Book Appointment</a>
        </li>
      </ul>
    </div>
    <div class="justify-content-end d-none d-sm-block">
      <ul class="nav ml-auto">
        <li class="nav-item" title="Facebook">
          <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-official text-info"></i></a>
        </li>
        <li class="nav-item" title="Twitter">
          <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter text-info"></i></a>
        </li>
        <li class="nav-item" title="Instagram">
          <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram text-info"></i></a>
        </li>
        <li class="nav-item" title="Snapchat">
          <a href="http://snapchat.com" target="_blank"><i class="fa fa-snapchat text-info"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
