<!-- OUR COMMITMENT SECTION -->
<section class="py-3 pb-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="lead">
          <div class="pb-3 mb-3">
            We are totally committed to providing the highest possible standards of modern dental
            treatment for everyone.
            We hope your visit to us will be a positive and pleasant experience, and that you will want to help us to
            maintain the continuity of your care, by attending regularly for many years to come.
          </div>
          <div class="pb-3 mb-3">
            If you have any questions or comments on the services we provide, we would be delighted to hear from you.
            If you have any complaints about any aspect of our service, we are committed to resolving these rapidly and
            amicably.
            Our Complaints procedure is explained in our printed Practice Information Leaflet, and our Complaints
            Policy, both available at Reception.
          </div>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <img src="https://source.unsplash.com/random/300x300/?dentist" alt=""
          class="img-fluid rounded-circle d-none d-md-block about-img">
      </div>
    </div>
  </div>
</section>
